@font-face {
  font-family: "Melor";
  src:url("../fonts/Melor.otf") format("opentype"),
      url("../fonts/Melor.woff") format("woff"),
    url("../fonts/Melor.ttf") format("truetype"),
    url("../fonts/Melor.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Melor-Thin";
  src:url("../fonts/Melor-Thin.otf") format("opentype"),
        url("../fonts/Melor-Thin.woff") format("woff"),
    url("../fonts/Melor-Thin.ttf") format("truetype"),
    url("../fonts/Melor-Thin.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}